:root {
  --color-white: rgb(255, 255, 255);
  --body-bg-color: #181818;
  --bg-color2: rgba(33, 33, 33, 0.98);
  --color-grey: #858585;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
}